@use '@/styles/main' as *;

.card__thumbnail {
    @include flexbox($justifyContent: center,
        $alignItems: center);
    width: 100%;
    border-radius: 2rem;
}

.card__thumbnailImage {
    width: 90%;
    margin: 1.75rem;

    object-fit: cover;

    background-color: $color__secondary-100;
    border-radius: 0.5rem;
    transition: all 0.3s ease-in-out;

    box-shadow: 0px 4px 8px 4px rgba(0, 0, 0, 0.125);
}