@use '@/styles/main' as *;

.base {
    width: 100%;
    border-radius: 0.5rem;
    border: transparent;
    transition: all 0.5s ease;
    cursor: pointer;
    text-align: center;

    @include responsive-button;

    @media screen and (min-width: $breakpoint__tablet) {
        width: auto;
    }
}

/* Intents */
.primary {
    background-color: var(--intent-color, $color__gray-500);
    border: 2px solid var(--intent-color-border, $color__gray-600);
    color: var(--intent-color-text, $color__white);

    &.enabled:hover {
        background-color: var(--intent-hover, $color__gray-600);
        border: 2px solid var(--intent-hover-border, $color__gray-700);
        color: var(--intent-hover-text, $color__white);
    }
}

.secondary {
    background-color: transparent;
    border: 2px solid var(--intent-color-border, $color__gray-600);
    color: var(--intent-color, $color__white);

    &.enabled:hover {
        background-color: var(--intent-hover, $color__gray-500);
        border: 2px solid var(--intent-hover-border, $color__gray-500);
        color: var(--intent-hover-text, $color__gray-100);
    }
}

.terciary {
    @include flexbox($flexDirection: row,
        $gap: 0.5rem,
        $justifyContent: center,
        $alignItems: center,
    );

    background-color: transparent;
    border: 2px solid var(--intent-color-border, $color__gray-600);
    color: var(--intent-color, $color__white);

    &.enabled:hover {
        background-color: var(--intent-hover, $color__gray-500);
        border: 2px solid var(--intent-hover-border, $color__gray-500);
        color: var(--intent-hover-text, $color__gray-900);

        & svg {
            stroke: var(--intent-hover-text, $color__gray-900);
        }
    }
}

.disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

/* Colors */
.info {
    --intent-color: #{$color__info-600};
    --intent-color-border: #{$color__info-600};
    --intent-color-text: #{$color__white};
    --intent-hover: #{$color__info-500};
    --intent-hover-border: #{$color__info-500};
    --intent-hover-text: #{$color__white};
}

.success {
    --intent-color: #{$color__success-600};
    --intent-color-border: #{$color__success-600};
    --intent-color-text: #{$color__white};
    --intent-hover: #{$color__success-500};
    --intent-hover-border: #{$color__success-500};
    --intent-hover-text: #{$color__white};
}

.warning {
    --intent-color: #{$color__warning-600};
    --intent-color-border: #{$color__warning-600};
    --intent-color-text: #{$color__white};
    --intent-hover: #{$color__warning-400};
    --intent-hover-border: #{$color__warning-400};
    --intent-hover-text: #{$color__white};
}

.danger {
    --intent-color: #{$color__danger-600};
    --intent-color-border: #{$color__danger-600};
    --intent-color-text: #{$color__white};
    --intent-hover: #{$color__danger-400};
    --intent-hover-border: #{$color__danger-400};
    --intent-hover-text: #{$color__white};
}

/* Sizes */
.small {
    @include button-size(0.875rem, 700, 1.25rem, 0.25rem 0.5rem);
}

.medium {
    @include button-size(1rem, 700, 1.5rem, 0.5rem 1.25rem);
}

.large {
    @include button-size(1.25rem, 700, 1.75rem, 0.75rem 1.75rem);
}

.extraLarge {
    @include button-size(1.5rem, 700, 2.25rem, 1rem 2.25rem);
}