@use '@/styles/main' as *;

.base {
    @include responsive-button;
    text-align: center;

    width: 100%;
    border-radius: 0.5rem;
    border: transparent;
    transition: all 0.5s ease;
    cursor: pointer;

    @media screen and (min-width: $breakpoint__tablet) {
        width: auto;
    }
}

/* Intents */
.primary {
    color: var(--intent-color-text, $color__white);
    background-color: var(--intent-color, $color__gray-500);
    border: transparent;

    &.enabled:hover {
        background-color: var(--intent-hover, $color__gray-700);
        border: 2px solid var(--intent-hover-bg, $color__gray-500);
    }
}

.secondary {
    color: var(--intent-color, $color__white);
    background-color: transparent;
    border: 2px solid var(--intent-color, $color__gray-500);

    &.enabled:hover {
        color: var(--intent-hover-text, $color__gray-900);
        background-color: var(--intent-hover-bg, $color__gray-300);
        border: 2px solid var(--intent-hover-bg, $color__gray-300);
    }
}

.terciary {
    @include flexbox($flexDirection: row,
        $gap: 0.5rem,
        $justifyContent: center,
        $alignItems: center,
    );

    color: var(--intent-color, $color__white);
    background-color: transparent;
    border: 2px solid var(--intent-color, $color__gray-500);

    &.enabled:hover {
        color: var(--intent-hover-text, $color__gray-900);
        background-color: var(--intent-hover-bg, $color__gray-300);
        border: 2px solid var(--intent-hover-bg, $color__gray-300);

        & svg {
            stroke: var(--intent-hover-text, $color__gray-900);
        }
    }
}

.disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

/* Colors */
.info {
    --intent-color: #{$color__info-600};
    --intent-color-text: #{$color__info-100};
    --intent-hover: #{$color__info-500};
    --intent-hover-bg: #{$color__info-300};
    --intent-hover-text: #{$color__info-900};
}

.success {
    --intent-color: #{$color__success-600};
    --intent-color-text: #{$color__success-100};
    --intent-hover: #{$color__success-500};
    --intent-hover-bg: #{$color__success-300};
    --intent-hover-text: #{$color__success-900};
}

.warning {
    --intent-color: #{$color__warning-600};
    --intent-color-text: #{$color__warning-100};
    --intent-hover: #{$color__warning-500};
    --intent-hover-bg: #{$color__warning-300};
    --intent-hover-text: #{$color__warning-900};
}

.danger {
    --intent-color: #{$color__danger-600};
    --intent-color-text: #{$color__danger-100};
    --intent-hover: #{$color__danger-500};
    --intent-hover-bg: #{$color__danger-300};
    --intent-hover-text: #{$color__danger-900};
}

/* Sizes */
.small {
    @include button-size(0.875rem, 700, 1.25rem, 0.25rem 0.5rem);
}

.medium {
    @include button-size(1rem, 700, 1.5rem, 0.5rem 1.25rem);
}

.large {
    @include button-size(1.25rem, 700, 1.75rem, 0.75rem 1.75rem);
}

.extraLarge {
    @include button-size(1.5rem, 700, 2.25rem, 1rem 2.25rem);
}