@use '@/styles/main' as *;

.base {
    width: 100%;
    padding: 0.75rem;

    font-weight: 700;
    font-size: 1rem;
    line-height: 1.5rem;

    border-radius: 0.5rem;
    border: transparent;
    transition: all 0.5s ease;
    cursor: pointer;

    @media screen and (min-width: $breakpoint__tablet) {
        width: 10rem;
    }

    @media screen and (min-width: $breakpoint__smallDesktop) {
        font-size: 1.25rem;
        padding: 1rem;
    }

    @media screen and (min-width: $breakpoint__desktop) {}
}

/* Intents */
.primary {
    color: var(--intent-hover-text, $color__white);
    background-color: var(--intent-color, $color__gray-500);
    border: transparent;

    &.enabled:hover {
        background-color: var(--intent-hover, $color__gray-700);
    }
}

.secondary {
    color: var(--intent-color, $color__white);
    background-color: transparent;
    border: 2px solid var(--intent-color, $color__gray-500);

    &.enabled:hover {
        color: var(--intent-hover-text, $color__gray-900);
        background-color: var(--intent-hover-bg, $color__gray-300);
        border: 2px solid var(--intent-hover-bg, $color__gray-300);
    }
}

.disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

/* Colors */
.info {
    --intent-color: #{$color__info-600};
    --intent-hover: #{$color__info-500};
    --intent-hover-bg: #{$color__info-300};
    --intent-hover-text: #{$color__info-900};
}

.success {
    --intent-color: #{$color__success-600};
    --intent-hover: #{$color__success-500};
    --intent-hover-bg: #{$color__success-300};
    --intent-hover-text: #{$color__success-900};
}

.warning {
    --intent-color: #{$color__warning-600};
    --intent-hover: #{$color__warning-500};
    --intent-hover-bg: #{$color__warning-300};
    --intent-hover-text: #{$color__warning-900};
}

.danger {
    --intent-color: #{$color__danger-600};
    --intent-hover: #{$color__danger-500};
    --intent-hover-bg: #{$color__danger-300};
    --intent-hover-text: #{$color__danger-900};
}

/* Sizes */
.small {
    font-size: 0.875rem;
    line-height: 1.25rem;
    padding: 0.25rem 0.5rem;
}

.medium {
    font-size: 1rem;
    line-height: 1.5rem;
    padding: 0.5rem 1rem;
}

.big {
    font-size: 1.25rem;
    line-height: 1.75rem;
    padding: 0.75rem 1.25rem;
}