@use '@/styles/main' as *;

.hamburger {
    @include flexbox($flexDirection: column)
}

.hamburgerIcon {
    @include flexbox($justifyContent: center,
        $alignItems: center,
        $flexDirection: column);

    width: 30px;
    height: 30px;
    padding: 0;

    background: none;
    border: none;

    cursor: pointer;
    z-index: 1000;

    & span {
        display: block;
        width: 30px;
        height: 2px;
        margin: 0.215rem 0;

        background-color: $color__gray-100;
        border-radius: 3px;

        transition: transform 0.4s ease, opacity 0.4s ease;
    }

    &.open {
        span:nth-child(1) {
            transform: translateY(11px) rotate(45deg);
        }

        span:nth-child(2) {
            opacity: 0;
        }

        span:nth-child(3) {
            transform: translateY(-11px) rotate(-45deg);
        }
    }
}

.hamburgerLegend {
    @include font-variable($size: 0.75rem, $weight: 700);
    color: $color__white;
}