@use "../../styles/base/fonts";
@use "../../styles/base/colors";
@use "../../styles/base/global";

.container {
    display: flex;
    flex-direction: column;
    gap: 2rem;

    width: 100%;

    max-width: 90rem;
    margin: 0 auto;
}

.section {
    background-color: colors.$color__white;

    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    gap: 3rem;

    padding: 5rem 2rem;

    text-align: center;

    @media screen and (min-width: 768px) {
        padding: 5rem 10%;
    }

    @media screen and (min-width: 1024px) {
        flex-direction: row;
        text-align: left;
        padding: 5rem 7.5%;
    }

    @media screen and (min-width: 2560px) {
        padding: 5rem 25.5%;
    }
}

.hero__buttons {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;

    width: 100%;
    white-space: nowrap;

    font-weight: 700;
    text-align: center;

    >a {
        width: 100%;
        padding: 1rem 1.5rem;
        border-radius: 0.5rem;

        &:first-child {
            background-color: colors.$color__danger-200;
            color: colors.$color__gray-900;
        }

        &:last-child {
            background-color: colors.$color__extracolor3-600;
            color: colors.$color__gray-100;
        }
    }

    @media screen and (min-width: 426px) {
        flex-wrap: none;
        gap: 1.5rem;
        justify-content: center;

        >a {
            width: auto;
        }
    }

    @media screen and (min-width: 1024px) {
        justify-content: flex-start;
    }

    @media screen and (min-width: 1025px) {
        justify-content: flex-start;
        gap: 2.5rem;
    }
}