@use "../../styles/base/fonts";
@use "../../styles/base/colors";
@use "../../styles/base/global";

.hero__title {
    font-weight: 700;
    font-size: 3rem;
    line-height: 4rem;

    span {
        color: colors.$color__primary-700;
    }

    @media screen and (min-width: 1024px) {
        font-size: 2.5rem;
        line-height: 3.25rem;
    }

    @media screen and (min-width: 1440px) {
        font-size: 3.25rem;
        line-height: 4rem;
    }
}

.hero__description {
    line-height: 1.625rem;

    @media screen and (min-width: 1440px) {
        font-size: 1.5rem;
        line-height: 2.75rem;
    }

    >p {
        margin: 1rem 0;
    }
}