@use "../../styles/base/fonts";
@use "../../styles/base/colors";
@use "../../styles/base/global";

.container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    
    width: 100%;
    
    max-width: 90rem;
    margin: 0 auto;
}

.section {
    background-color: colors.$color__primary-100;

    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    gap: 3rem;

    padding: 5rem 2rem;

    text-align: center;

    @media screen and (min-width: 768px) {
        padding: 5rem 10%;
    }

    @media screen and (min-width: 1024px) {
        flex-direction: row;
        text-align: left;
        padding: 5rem 7.5%;
    }

    @media screen and (min-width: 2560px) {
        padding: 5rem 25.5%;
    }
}