@use '@/styles/main' as *;
@use '@/styles/partials/_card__information';
@use '@/styles/partials/_card__infoDescription';
@use '@/styles/partials/_card__thumbnailCaption';
@use '@/styles/partials/_card__layoutContainer';

// Base
.card__layoutContainer {
    @extend .card__layoutContainer;
}

.card__thumbnailCaption {
    @extend .card__thumbnailCaption;
}

.card__information {
    @extend .card__information;
}

.card__infoDescription {
    @extend .card__infoDescription;
}

// Variantes
.card__variant--career {
    background-color: $color__secondary-200;
    grid-row: span 3;
}

.card__variant--knowledge {
    background-color: $color__secondary-200;
    grid-row: span 4;
}

.card__variant--courses {
    background-color: $color__secondary-200;
    grid-row: span 4;

    .card__thumbnailCaption {
        margin-bottom: 0.75rem;
    }
}

.card__variant--portfolio {
    background-color: $color__secondary-100;
    grid-row: span 6;

    &:hover {
        & img {
            border-radius: 1rem 1rem 0rem 0rem;
        }
    }

    &.card__variant--even {
        background-color: $color__secondary-200;
        border-radius: 1rem;

        .card__infoCategory {
            color: $color__secondary-600;
        }

        .card__infoTitle {
            color: $color__secondary-700;
        }
    }
}

// Estilos específicos do Portfolio
.card__links {
    @include flexbox($alignItems: left, $gap: 1rem);
    flex-wrap: nowrap;
    padding: 2rem 0 1rem 0;

    & a {
        @include flexbox($gap: 0.25rem, $alignItems: center);
        @include font-variable($weight: 700, $lineHeight: 1.5);
        border-radius: 0.5rem;
        color: $color__gray-700;

        &:hover {
            color: $color__gray-500;

            & svg {
                stroke: $color__gray-500;
            }
        }
    }

    & svg {
        stroke: $color__gray-700;
    }
}

.card__infoPills {
    @include flexbox($flexDirection: row,
        $gap: 0.375rem,
        $justifyContent: flex-start,
        $alignItems: center,
        $flexWrap: wrap);

    width: 100%;
    margin-top: 1.25rem;
}

.card__listItemsPills {
    padding: 0.5rem 1rem;
    color: $color__secondary-900;
    background-color: $color__white;
    border-radius: 1.5rem;
    border: 2px solid $color__secondary-300;
    @include font-variable($size: 1.125rem, $weight: 600);
}