@use '@/styles/main' as *;
@use '@/styles/partials/_section__layoutContainer';

/* Elementos da lista de Skills */
.section__layoutContainer {
    @extend .section__layoutContainer;
    background-color: $color__secondary-200;
}

.skill__skillType {
    flex-grow: 1;
    padding: 0.5rem;
    margin: 4rem 1.25rem 1rem 1.25rem;

    font-weight: 700;
    text-align: center;

    border-radius: 0.5rem 0.5rem 0 0;
    background-color: $color__secondary-100;

    &:first-of-type {
        margin: 2rem 1.25rem 1rem;
    }

    @media screen and (min-width: $breakpoint__cellPhone) {
        font-size: 1.125rem;
    }

    @media screen and (min-width: $breakpoint__tablet) {
        padding-inline: 3.5rem;
        margin: 5rem 3.25rem 1.5rem;

        &:first-of-type {
            margin: 3rem 3.25rem 1.5rem;
        }
    }

    @media screen and (min-width: $breakpoint__smallDesktop) {
        font-size: 1.5rem;
        line-height: 2rem;
    }

    @media screen and (min-width: $breakpoint__desktop) {
        font-size: 1.75rem;
        line-height: 2.5rem;
    }
}

.skill__listItems {
    @include flexbox($flexDirection: row,
        $gap: 2.25rem,
        $justifyContent: center,
        $alignItems: center,
        $flexWrap: wrap);

    padding-inline: 1.5rem;
    margin-top: auto;

    @media screen and (min-width: $breakpoint__tablet) {
        padding-inline: 3.5rem;
    }
}

.skill__items {
    flex-grow: 1;
    padding: 0 1.5rem 0.75rem 1.5rem;

    font-size: 1.25rem;
    line-height: 1.625rem;

    color: $color__gray-900;
    border-bottom: 2px solid $color__secondary-700;

    @media screen and (min-width: $breakpoint__tablet) {
        padding: 0 3.5rem 0.75rem 3.5rem;

        font-size: 1.5rem;
        line-height: 2.25rem;
    }
}