@use "../../styles/base/fonts";
@use "../../styles/base/colors";
@use "../../styles/base/global";


.article {
    background-color: colors.$color__secondary-100;

    border-radius: 1rem;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column;

    @media screen and (min-width: 1024px) {
        flex-wrap: wrap;
    }
}

.article__thumbnail {
    border-radius: 1rem 1rem 0 0;
    overflow: hidden;
    position: relative;
    aspect-ratio: 16 / 9;
    width: 100%;
    height: 100%;
}

.article__thumbnailImage {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
}

.article__information {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.75rem 1.25rem;

    >p {
        font-size: 0.875rem;
        text-align: center;
        text-overflow: ellipsis;
        overflow: hidden;

        height: 4rem;
        margin-top: 0.5rem;
    }

    @media screen and (min-width: 768px) {
        align-items: flex-start;

        >p {
            text-align: left;
        }
    }
}

.article__project {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    gap: 0.5rem;

    >h3 {
        font-weight: 700;
        font-size: 1.25rem;
    }

    >a {
        padding: 0.25rem 0.25rem 0 0.3rem;
        border-radius: 0.25rem;
        background-color: colors.$color__white;

        &:hover {
            background-color: colors.$color__secondary-200;
        }
    }
}

.article__projectsLink {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;

    width: 100%;
    padding: 0.5rem 2rem;

    @media screen and (min-width: 425px) {
        flex-direction: row;
        gap: 0.5rem;
        margin-bottom: 1rem;
    }

    @media screen and (min-width: 768px) {
        gap: 0;
        flex-direction: column;
        padding: 0.5rem 0.85rem;
        align-items: flex-start;
    }

    @media screen and (min-width: 1024px) {
        justify-content: left;
    }
}

.container__descriptionLinks {
    padding: 0 0 0 0.5rem;
    font-size: 0.8rem;
    line-height: 1.5rem;
    font-weight: 600;

    color: colors.$color__gray-700;

    @media screen and (min-width: 768px) {
        font-size: 1rem;
        text-align: center;
        line-height: 1.75rem;
    }

    @media screen and (min-width: 1024px) {
        text-align: left;
    }

    @media screen and (min-width: 1440px) {
        line-height: 2.275rem;
    }
}

.container__links {
    display: flex;

    >a {
        display: flex;
        flex-direction: row;
        justify-content: left;
        align-items: center;
        gap: 0.25rem;

        font-size: 0.75rem;
        font-weight: 700;
        line-height: 1rem;

        border-radius: 0.5rem;
        padding: 0.5rem;

        text-decoration: none;
        color: colors.$color__gray-700;

        @media screen and (min-width: 768px) {
            font-size: 1rem;
        }
    }

    @media screen and (min-width: 1440px) {
        font-size: 0.875rem;
    }
}