@use '@/styles/main' as *;

/* Elementos das imagens de thumbnail */
.card__thumbnailImage {
    width: 100%;

    object-fit: cover;
    object-position: top;

    background-color: $color__secondary-100;
    border-color: $color__secondary-200;
    border-style: solid;

    border-radius: 1.5rem;
    border-width: 1rem;

    @media screen and (min-width: $breakpoint__tablet) {
        border-radius: 2.5rem;
        border-width: 1.5rem;
    }

    @media screen and (min-width: $breakpoint__desktop) {
        border-radius: 3rem;
        border-width: 2rem;
    }
}