@use '@/styles/main' as *;

.card__infoComplement {
    padding-top: 0.25rem;

    @include font-variable($weight: 600, $slnt: -15);
    color: $color__success-700;

    @media screen and (min-width: $breakpoint__cellPhone) {
        @include font-variable($size: 1.25rem, $weight: 600, $slnt: -15);
    }

    @media screen and (min-width: $breakpoint__tablet) {
        padding-top: 0.5rem;
    }
}

.card__infoTitle {
    @include font-variable($size: 1.25rem, $weight: 700);
    color: $color__success-700;

    @media screen and (min-width: $breakpoint__cellPhone) {
        @include font-variable($size: 1.375rem, $weight: 700, $lineHeight: 1.75rem);
    }

    @media screen and (min-width: $breakpoint__tablet) {
        padding-top: 0.25rem;
        @include font-variable($size: 1.75rem, $weight: 700, $lineHeight: 2rem);
    }
}