@use '@/styles/main' as *;
@use '@/styles/partials/_card__information';
@use '@/styles/partials/_card__thumbnailCaption';
@use '@/styles/partials/_card__layoutContainer';

.card__layoutContainer {
    @extend .card__layoutContainer;
    background-color: $color__secondary-200;
    grid-row: span 4;
}

.card__thumbnailCaption {
    @extend .card__thumbnailCaption;
    margin-bottom: 0.75rem
}

.card__information {
    @extend .card__information;
}