@use '@/styles/main' as *;

/* Elementos do Header */
.header {
    @include flexbox($justifyContent: space-between, $alignItems: center);
    padding-inline: 1.5rem;

    height: 5rem;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1;

    background-color: $color__gray-700;

    @media screen and (min-width: $breakpoint__cellPhone) {
        padding-inline: 2rem;
    }

    @media screen and (min-width: $breakpoint__tablet) {
        padding-inline: 3rem;
    }

    @media screen and (min-width: $breakpoint__desktop) {
        padding-inline: 6.25rem;
    }

    @media screen and (min-width: $breakpoint__largeDesktop) {
        padding-inline: 20rem;
    }
}

.header__brand {
    @include font-variable($size: 1.625rem, $weight: 700);

    & a {
        color: $color__gray-100;

        &:hover {
            color: $color__primary-300;
        }
    }

    @media screen and (min-width: $breakpoint__cellPhone) {
        @include font-variable($size: 1.5rem, $weight: 700);
    }

    @media screen and (min-width: $breakpoint__desktop) {
        @include font-variable($size: 2rem, $weight: 700);
    }
}

.header__brandSpan {
    @include font-variable($size: 1.625rem, $weight: 400);

    & a {
        color: $color__gray-100;

        &:hover {
            color: $color__primary-300;
        }
    }

    @media screen and (min-width: $breakpoint__cellPhone) {
        @include font-variable($size: 1.5rem, $weight: 400);
    }

    @media screen and (min-width: $breakpoint__desktop) {
        @include font-variable($size: 2rem, $weight: 400);
    }
}