@use '../base/global' as *;
@use 'sass:list';

@mixin flexbox($flexDirection: row, $gap: gap, $justifyContent: space-between, $alignItems: center, $flexWrap: flex-wrap) {
    display: flex;
    flex-direction: $flexDirection;
    gap: $gap;
    justify-content: $justifyContent;
    align-items: $alignItems;
    flex-wrap: $flexWrap;
}

@mixin font-variable($size: 1rem, $weight: 400, $slnt: null, $ital: null, $opsz: auto, $width: null, $lineHeight: 1.5rem, $mono: 0) {
    font-family: $font__carbona;
    font-weight: $weight;
    font-size: $size;
    line-height: $lineHeight;
    font-optical-sizing: $opsz;

    $font-settings: (
    );

$font-settings: list.append($font-settings, 'wght'#{$weight}, comma);

@if $mono !=null {
    $font-settings: list.append($font-settings, 'MONO'#{$mono}, comma);
}

@if $slnt !=null {
    $font-settings: list.append($font-settings, 'slnt'#{$slnt}, comma);
}

@if $ital !=null {
    $font-settings: list.append($font-settings, 'ital'#{$ital}, comma);
}

@if $width !=null {
    $font-settings: list.append($font-settings, 'wdth'#{$width}, comma);
}

font-variation-settings: $font-settings;
}

@mixin button-size($size, $weight, $lineHeight, $padding) {
    @include font-variable($size: $size, $weight: $weight, $lineHeight: $lineHeight);
    padding: $padding;
}

@mixin responsive-button {
    @include button-size(1rem, 700, 1.5rem, 0.75rem 1rem);

    @media screen and (min-width: $breakpoint__tablet) {
        @include button-size(1rem, 700, 1.5rem, 0.5rem 1.25rem);
    }

    @media screen and (min-width: $breakpoint__smallDesktop) {
        @include button-size(1.25rem, 700, 1.75rem, 0.75rem 1.75rem);
    }

    @media screen and (min-width: $breakpoint__desktop) {
        @include button-size(1.5rem, 700, 2.25rem, 1rem 2.25rem);
    }
}