@use '@/styles/main' as *;

.hero {
    @include flexbox($flexDirection: column,
        $gap: 3rem,
        $justifyContent: flex-start,
        $alignItems: center);

    padding: 1.75rem 1.5rem 4.75rem 1.5rem;

    text-align: left;
    background-color: $color__secondary-100;

    @media screen and (min-width: $breakpoint__mediumCellPhone) {
        padding: 1.825rem 1.5rem 4.75rem 1.5rem;
    }

    @media screen and (min-width: $breakpoint__cellPhone) {
        padding: 2rem 1.5rem 4.75rem 1.5rem;
    }

    @media screen and (min-width: $breakpoint__tablet) {
        padding: 5rem 1rem;
    }

    @media screen and (min-width: $breakpoint__smallDesktop) {
        @include flexbox($flexDirection: column, $gap: 2rem, $justifyContent: flex-start, $alignItems: flex-start);
        padding: 6rem 1rem;
    }

    @media screen and (min-width: $breakpoint__desktop) {
        padding: 7rem 5rem;
    }
}

.hero__listDescription {
    @include flexbox($flexDirection: column, $gap: 2rem, $alignItems: flex-start);
}

.hero__title {
    @include font-variable($size: 1.875rem, $weight: 700, $lineHeight: 2.5rem);
    
    padding-inline: 1.5rem;

    @media screen and (min-width: $breakpoint__cellPhone) {
        @include font-variable($size: 2rem, $weight: 700, $lineHeight: 2.75rem);
    }

    @media screen and (min-width: $breakpoint__tablet) {
        @include font-variable($size: 3rem, $weight: 700, $lineHeight: 4rem);

        padding-inline: 3.5rem;
        white-space: nowrap;
    }

    @media screen and (min-width: $breakpoint__smallDesktop) {
        @include font-variable($size: 3.75rem, $weight: 700, $lineHeight: 4.25rem);
    }

    @media screen and (min-width: $breakpoint__desktop) {
        @include font-variable($size: 4.5rem, $weight: 700, $lineHeight: 5.125rem);
    }
}

.hero__description {
    padding-inline: 1.5rem;
    text-align: left;

    &>span {
        font-weight: 700;
    }

    @media screen and (min-width: $breakpoint__cellPhone) {
        font-size: 1.125rem;
    }

    @media screen and (min-width: $breakpoint__tablet) {
        padding: 0.5rem 3.5rem 0.5rem 3.5rem;
    }

    @media screen and (min-width: $breakpoint__smallDesktop) {
        font-size: 1.5rem;
        line-height: 2rem;
    }

    @media screen and (min-width: $breakpoint__desktop) {
        font-size: 1.75rem;
        line-height: 2.5rem;
    }
}

.download__buttons {
    @include flexbox($flexDirection: row,
            $gap: 1rem,
            $justifyContent: space-around,
            $alignItems: center,
            $flexWrap: wrap);
    
        padding-inline: 1.5rem;

    @media screen and (min-width: $breakpoint__tablet) {
            @include flexbox($gap: 2rem,
                $justifyContent: left,
                $flexWrap: nowrap);
            padding: 1rem 3.5rem 0;
        }
}
