@import "../../styles/base/fonts";
@import "../../styles/base/colors";
@import "../../styles/base/global";

.header {
    background-color: $color__primary-100;

    min-width: 320px;
    width: 100%;

    margin: 0 auto;
    padding: 1rem 1rem;

    font-family: $font__carbona;
    font-weight: 400;
    font-style: normal;
}