@use '../../styles/main' as *;

/* Elementos do Header */
.header {
    @include flexbox($justifyContent: space-between, $alignItems: center);

    height: 5rem;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1;

    background-color: $color__gray-100;

    @media screen and (min-width: $breakpoint__cellPhone) {
        padding-inline: 1rem;
    }

    @media screen and (min-width: $breakpoint__tablet) {
        padding-inline: 3rem;
    }

    @media screen and (min-width: $breakpoint__desktop) {
        height: 6rem;
        padding-inline: 5rem;
    }
}

.header__brand {
    font-weight: 700;
    font-size: 1.625rem;

    & span {
        font-weight: 400;
    }

    & a {
        color: $color__info-700;

        &:hover {
            color: $color__primary-400;
        }
    }

    @media screen and (min-width: $breakpoint__cellPhone) {
        font-size: 1.5rem;
    }

    @media screen and (min-width: $breakpoint__desktop) {
        font-size: 2rem;
    }
}