@use '@/styles/main' as *;

.container {
    @include flexbox($flexDirection: column, $gap: 2rem);
}

.hero__profilePicture {
    width: 100%;
    border-radius: 12rem 12rem 20rem 20rem;
    padding-inline: 1.5rem;

    @media screen and (min-width: $breakpoint__tablet) {
        border-radius: 12rem 6rem 12rem 6rem;
    }

    @media screen and (min-width: $breakpoint__smallDesktop) {
        border-radius: 6rem 12rem 6rem 12rem;
    }
}