@use '../../styles/main' as *;

/* Elementos do bloco de Experiência */
.career {
    @include flexbox($flexDirection: column, $alignItems: flex-start);

    margin: 1rem 0;

    background-color: $color__gray-100;
    border-radius: 1rem;

    width: 100%;
}

/* Estilos das imagens */
.card__thumbnailImage {
    width: 100%;

    position: relative;
    overflow: hidden;

    object-fit: contain;
    object-position: top;

    background-color: $color__extracolor2-100;
    border-radius: 1rem 1rem 0 0;
    filter: grayscale(1);

    &:hover {
        filter: grayscale(0);
        transform: scale(1.05);
        transition: all 0.3s ease-in;
        border-radius: 1rem;
    }
}

/* Estilos das informações */
.card__information {
    @include flexbox($flexDirection: column, $alignItems: flex-start);

    padding: 0.5rem 1.5rem;

    &:first-of-type {
        min-height: calc(4rem + 1.5rem);
    }

    &:nth-of-type(2) {
        flex-shrink: 0;
    }

    &:last-of-type {
        margin-top: auto;
    }
}

/* Bloco 1 */
.card__infoTitle {
    padding: 0.25rem 0;

    font-size: 2rem;
    font-weight: 700;
    line-height: 2rem;
}

/* Bloco 2 */
.card__infoCategory {
    margin: 1rem 0 0;
    padding-left: 0.25rem;

    font-size: 1.125rem;
    font-weight: 700;
}

.card__infoDescription {
    padding-left: 0.25rem;

    color: $color__gray-900;

    &>span {
        font-weight: 700;
    }
}

/* Bloco 3 */
.card__infoResume {
    @include flexbox($flexDirection: column, $alignItems: flex-start);

    width: 100%;

    &>summary {
        font-weight: 600;
        margin: 1rem 0 1.5rem 0;
    }

    &>ul {
        margin-top: 0.5rem;
    }

    @media screen and (min-width: 1440px) {
        font-size: 1.275rem;
        line-height: 1.75rem;
    }
}

.card__infoActivities {
    @include flexbox($flexDirection: row, $justifyContent: flex-start, $alignItems: center, $gap: 0.375rem);
    flex-wrap: wrap;

    width: 100%;
    list-style-type: disc;
}

.card__infoActivitiesList {
    padding-bottom: 0.5rem;
    margin-left: 1.25rem;

    list-style-type: disc;
    text-align: left;

    @media screen and (min-width: 1440px) {
        margin-left: 1.425rem;
        font-size: 1.275rem;
    }
}