@use '@/styles/main' as *;

.contactForm {
    @include flexbox($flexDirection: column,
        $gap: 3rem,
        $justifyContent: flex-start,
        $alignItems: left);

    width: 100%;
    padding: 4.75rem 1.5rem;

    background-color: $color__extracolor1-100;

    @media screen and (min-width: $breakpoint__mediumCellPhone) {
        padding: 4.825rem 1.5rem;
    }

    @media screen and (min-width: $breakpoint__cellPhone) {
        padding: 4rem 1.5rem;
    }

    @media screen and (min-width: $breakpoint__tablet) {
        @include flexbox($flexDirection: column,
            $gap: 3rem,
            $justifyContent: flex-start,
            $alignItems: left,
        );
        padding: 5rem 1.5rem;
    }

    @media screen and (min-width: $breakpoint__smallDesktop) {
        padding: 5rem 1.5rem;
    }

    @media screen and (min-width: $breakpoint__desktop) {
        padding: 7rem 6.25rem;
    }

    @media screen and (min-width: $breakpoint__largeDesktop) {
        padding: 7rem 20rem;
    }
}

.contactForm__message {
    width: 100%;
    padding: 0.5rem;
    margin-bottom: 1rem;

    border-radius: 0.5rem;
    animation: fadeIn 0.3s ease-in-out;

    text-align: center;
    @include font-variable($weight: 700);

    &.success {
        background-color: rgba($color__success-500, 0.1);
        color: $color__success-500;
        border: 2px solid $color__success-500;
    }

    &.error {
        background-color: rgba($color__danger-500, 0.1);
        color: $color__danger-600;
        border: 2px solid $color__danger-500;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.contactForm__title {
    @include font-variable($size: 1.875rem, $weight: 700, $lineHeight: 2.5rem);
    padding-inline: 1.5rem;

    @media screen and (min-width: $breakpoint__cellPhone) {
        @include font-variable($size: 2rem, $weight: 700, $lineHeight: 2.75rem);
    }

    @media screen and (min-width: $breakpoint__tablet) {
        @include font-variable($size: 3rem, $weight: 700, $lineHeight: 4rem);
        padding-inline: 3.5rem;
    }

    @media screen and (min-width: $breakpoint__desktop) {
        @include font-variable($size: 3.75rem, $weight: 700, $lineHeight: 4.25rem);
    }
}

.contactForm__form {
    @include flexbox($flexDirection: column, $gap: 1.5rem, $alignItems: center);
    padding-inline: 0.5rem;

    flex-wrap: wrap;
    width: 100%;

    @media screen and (min-width: $breakpoint__tablet) {
        padding-inline: 3.5rem;
    }

    @media screen and (min-width: $breakpoint__smallDesktop) {
        padding-inline: 4rem;
    }

    @media screen and (min-width: $breakpoint__desktop) {
        padding-inline: 3.5rem;
    }
}

.contactForm__captchaWrapper {
    @include flexbox($justifyContent: center);
    position: relative;
    width: 100%;
}

.contactForm__captchaOverlay {
    @include flexbox($alignItems: center, $justifyContent: center);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding-inline: 1.5rem;

    backdrop-filter: blur(2px);
    border-radius: 4px;
    animation: fadeIn 0.3s ease-in-out;

    span {
        @include font-variable($weight: 700);

        padding: 0.5rem 1.5rem;
        border-radius: 0.5rem;

        background-color: rgba($color__warning-300, 0.7);
        color: $color__warning-700;
        border: 2px solid $color__warning-500;
    }

    @media screen and (min-width: $breakpoint__tablet) {
        padding-inline: 3.5rem;
    }
}

.contactForm__captcha {
    transform: scale(0.9);
    transform-origin: 0 0;

    @media screen and (min-width: 375px) {
        transform: scale(1);
    }
}