@use "../../styles/base/fonts";
@use "../../styles/base/colors";
@use "../../styles/base/global";

.footer {
    background-color: colors.$color__gray-900;
    color: colors.$color__gray-400;

    @media screen and (min-width: 768px) {
        padding: 0 10%;
    }

    @media screen and (min-width: 1024px) {
        padding: 0% 7.5%;
    }
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: left;
    flex-direction: column;

    @media screen and (min-width: 1024px) {
        flex-direction: row;
        padding: 0% 7.5%;
    }
}

.footer__copyright {
    font-weight: 700;
    font-size: 1rem;
    text-align: center;
    padding: 1rem;

    >span {
        font-weight: 500;
    }

    >p {
        &:last-child {
            font-size: 0.75rem;
        }

        >a {
            color: colors.$color__gray-100;
        }
    }
}




// .footer__social {
//     padding: 2rem 3rem 0 3rem;
// }

// .footer__socialCircle {
//     border-radius: 50%;
//     width: 10rem;
//     height: 10rem;
//     overflow: hidden;
//     position: relative;

//     >img {
//         position: absolute;
//         bottom: -10;
//         width: 105%;
//     }
// }

// .footer__form {
//     padding: 2rem 3rem 0 3rem;
// }

// .footer__formGeneral {
//     display: flex;
//     flex-direction: column;
//     gap: 1.5rem;
// }

// .footer__formName,
// .footer__formEmail,
// .footer__formMessage {
//     border-radius: 0.5rem;
//     border: 2px solid colors.$color__gray-100;
//     background: none;
//     padding: 0.75rem 1rem;
//     color: colors.$color__gray-100;

//     &::placeholder {
//         color: colors.$color__gray-500;
//         font-weight: 700;
//         font-size: 0.875rem;
//     }

//     &:hover,
//     &:active {
//         border: 1.75px solid colors.$color__success-500;
//     }
// }

// .footer__formButton {
//     min-width: 7rem;
//     padding: 1rem 1.5rem;
//     border-radius: 0.5rem;
//     text-transform: uppercase;
//     width: 100%;
//     background-color: colors.$color__primary-500;
//     color: colors.$color__gray-100;
//     border: none;
//     font-weight: 900;
// }