@use "../../styles/base/fonts";
@use "../../styles/base/colors";
@use "../../styles/base/global";

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;

    gap: 2rem;
    padding-top: 5rem;
}

.footer {
    background-color: colors.$color__gray-700;
    color: colors.$color__gray-100;
    text-align: center;


    @media screen and (min-width: 768px) {
        padding: 0 10%;
    }

    @media screen and (min-width: 1024px) {
        padding: 0 7.5%;
    }
}

.footer__social {
    padding: 2rem 3rem 0 3rem;
}

.footer__socialCircle {
    border-radius: 50%;
    width: 9rem;
    height: 9rem;
    overflow: hidden;
    position: relative;

    border: 3px solid colors.$color__gray-300;
    ;

    >img {
        position: absolute;
        bottom: 25;
        left: 0;
        width: 100%;
    }
}

.footer__socialInfo {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    margin: 1rem 0;
}

.footer__socialSubTitle {
    font-style: oblique;
    font-weight: 500;
    font-size: 1rem;
}

.footer__socialTitle {
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 2rem;
    margin-bottom: 1rem;

    span {
        color: colors.$color__primary-700;
    }

    @media screen and (min-width: 1024px) {
        font-size: 2.5rem;
        line-height: 3.25rem;
    }

    @media screen and (min-width: 1440px) {
        font-size: 3.25rem;
        line-height: 4rem;
    }
}

.footer__socialDescription {
    >a {
        color: colors.$color__gray-400;

        &:hover {
            color: colors.$color__gray-100;
        }
    }
}

.footer__socialMedia {
    display: flex;
    gap: 1rem;
    padding-bottom: 3rem;

    >a {
        color: colors.$color__gray-100;

        &:hover {
            color: colors.$color__gray-300;
        }
    }
}

.footer__copyright {
    width: 100vw;
}

.footer__copy {
    font-weight: 700;
    padding: 1rem 3rem;
    background-color: colors.$color__gray-900;

    >span {
        font-weight: 500;
    }

    >a {
        color: colors.$color__gray-400;

        &:hover {
            color: colors.$color__gray-100;
        }
    }
}