@use '../../styles/main' as *;

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;

    gap: 2rem;
    max-width: 90rem;
    margin: 0 auto;
}

.footer {
    background-color: $color__gray-700;
    color: $color__gray-100;
    text-align: center;
    padding: 5rem 2rem 0 2rem;

    @media screen and (min-width: 768px) {
        padding: 5rem 10% 0 10%;
    }

    @media screen and (min-width: 1024px) {
        padding: 5rem 2rem 0 2rem;
    }

    @media screen and (min-width: 1440px) {
        padding: 5rem 4rem 0 4rem;
    }

    @media screen and (min-width: 2560px) {
        padding: 5rem 25.5% 0 25.5%;
    }
}

.footer__social {
    padding: 2rem 3rem 0 3rem;
}

.footer__socialCircle {
    border-radius: 50%;
    width: 9rem;
    height: 9rem;
    overflow: hidden;
    position: relative;

    border: 3px solid $color__gray-300;
    ;

    >img {
        position: absolute;
        bottom: 25;
        left: 0;
        width: 100%;
    }
}

.footer__socialInfo {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    margin: 1rem 0;
}

.footer__socialSubTitle {
    font-style: oblique;
    font-weight: 500;
    font-size: 1rem;
}

.footer__socialTitle {
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 2rem;
    margin-bottom: 1rem;

    span {
        color: $color__primary-700;
    }

    @media screen and (min-width: 1024px) {
        font-size: 2.5rem;
        line-height: 3.25rem;
    }

    @media screen and (min-width: 1440px) {
        font-size: 3.25rem;
        line-height: 4rem;
    }
}

.footer__socialDescription {
    >a {
        color: $color__gray-400;

        &:hover {
            color: $color__gray-100;
        }
    }
}

.footer__socialMedia {
    display: flex;
    gap: 1rem;
    padding-bottom: 3rem;

    >a {
        color: $color__gray-100;

        &:hover {
            color: $color__gray-300;
        }
    }
}

.cardList__buttons {
    @include flexbox($justifyContent: space-around,
        $alignItems: center,
        $flexDirection: row);

    padding-inline: 1.5rem;

    @media screen and (min-width: $breakpoint__tablet) {
        @include flexbox($gap: 2rem);
        flex-wrap: nowrap;
        padding: 1rem 3.5rem 0;
    }
}

.cardList__button {
    width: 100%;
    padding: 1rem 1.5rem;
    border-radius: 0.5rem;
    border: 2px solid $color__gray-900;

    font-weight: 700;
    text-align: center;

    background-color: $color__gray-900;
    border: 2px solid $color__gray-700;

    color: $color__gray-100;

    @media screen and (min-width: $breakpoint__smallDesktop) {
        font-size: 1.25rem;
    }

    @media screen and (min-width: $breakpoint__desktop) {
        padding: 1.5rem 1.5rem;
        font-size: 1.5rem;

        border: 1.5px solid $color__gray-500;
    }
}