@use '@/styles/main' as *;

/* Elementos do Footer */
.footerCopyright {
    @include flexbox($justifyContent: center);
}

.footerCopyright__link {
    width: 100%;
    padding: 1rem 3rem;

    background-color: $color__gray-900;
    color: $color__gray-400;

    font-weight: 700;
    text-align: center;

    & span {
        font-weight: 400;
    }

    &:hover {
        color: $color__gray-100;
    }

    @media screen and (min-width: $breakpoint__tablet) {
        font-size: 1.125rem;
    }

    @media screen and (min-width: $breakpoint__desktop) {
        padding: 1.5rem 3rem;
        font-size: 1.5rem;
    }
}