@use '@/styles/main' as *;

.footerCopyright {
    @include flexbox($justifyContent: center);
}

.footerCopyright__text {
    @include font-variable($weight: 700);
    text-align: center;

    width: 100%;
    padding: 1rem 3rem;

    background-color: $color__gray-900;

    & span {
        @include font-variable($weight: 400);
    }

    @media screen and (min-width: $breakpoint__tablet) {
        @include font-variable($size: 1.125rem, $weight: 700);

        & span {
            @include font-variable($size: 1.125rem, $weight: 400);
        }
    }

    @media screen and (min-width: $breakpoint__desktop) {
        @include font-variable($size: 1.25rem, $weight: 700);
        padding: 1.5rem 3rem;

        & span {
            @include font-variable($size: 1.25rem, $weight: 400);
        }
    }
}

.footerCopyright__link {
    color: $color__gray-400;

    &:hover {
        color: $color__gray-100;
    }
}