@use "../../styles/base/fonts";
@use "../../styles/base/colors";
@use "../../styles/base/global";

.container {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.section {
    // background-color: colors.$color__extracolor3-100;
    margin: 5rem 0 1rem 0;

    text-align: center;

    @media screen and (min-width: 768px) {
        margin: 7rem 0 1rem 0;
        ;
        padding: 0 10%;
        flex-direction: row;
        gap: 1rem;
    }

    @media screen and (min-width: 1024px) {
        text-align: left;
        padding: 0% 7.5%;
    }
}

.section__title {
    font-weight: 700;
    font-size: 1.75rem;
    line-height: 3rem;
    text-align: center;

    width: 100%;
    padding: 0.5rem 3rem 0 3rem;
    margin: 2rem 0 0 0;

    color: colors.$color__gray-700;

    @media screen and (min-width: 768px) {
        padding: 4.5rem 3rem 0 0;
        font-size: 2.5rem;
        line-height: 2.25rem;
        text-align: center;
    }

    @media screen and (min-width: 1440px) {
        font-size: 3.25rem;
    }
}

.section__description {
    font-weight: 500;
    font-size: 1.125rem;
    line-height: 1.75rem;
    text-align: center;

    width: 100%;
    padding: 0 3rem 2rem 3rem;

    color: colors.$color__gray-500;

    @media screen and (min-width: 768px) {
        padding: 0.5rem 3rem 2rem 0;
        font-size: 1.375rem;
        line-height: 1.75rem;
        text-align: center;
    }

    @media screen and (min-width: 1024px) {
        font-size: 1.5rem;
        line-height: 2.25rem;
    }
}