@use '@/styles/main' as *;

.card__infoResume {
    @include flexbox($flexDirection: column,
        $alignItems: flex-start);

    width: 100%;
    padding: 1.25rem 0 0.75rem 0.25rem;

    &>summary {
        font-weight: 600;
        color: $color__success-700;
        padding-bottom: 1rem;
    }

    @media screen and (min-width: $breakpoint__cellPhone) {
        font-size: 1.25rem;
        line-height: 1.75rem;
    }
}

.card__infoActivities {
    display: inline-block;
    width: 100%;
    padding-bottom: 1rem;

    list-style-type: disc;
}

.card__infoActivitiesList {
    padding-bottom: 0.5rem;
    margin-left: 1.25rem;

    list-style-type: disc;
    text-align: left;

    @media screen and (min-width: $breakpoint__desktop) {
        margin-left: 1.425rem;
    }
}

.card__infoDescriptionTopic {
    padding: 0.25rem 0 0 0.25rem;

    &>span {
        font-weight: 700;
    }
}