@use '../styles/main' as *;

.main {
    @media screen and (min-width: $breakpoint__desktop) {
        max-width: $maxWidth__desktop;
    }

    @media screen and (min-width: $breakpoint__largeDesktop) {
        max-width: $maxWidth__largeDesktop;
    }
}

.div {
    margin: auto 0;
}