@import "../styles/base/fonts";
@import "../styles/base/colors";
@import "../styles/base/global";

h2 {
    font-family: $font__carbona;
    font-weight: 400;
    font-style: normal;

    color: $color__primary-600;
}