/* Design Tokens | Color Pallete */

/* Black and White */
$color__white: #fff;

$color__gray-100: #e1e1e6;
$color__gray-300: #c4c4cc;
$color__gray-400: #8d8d99;
$color__gray-500: #7c7c8a;
$color__gray-600: #323238;
$color__gray-700: #29292e;
$color__gray-800: #202024;
$color__gray-900: #121214;

/* Primaries */
$color__primary-100: #fdf2f4;
$color__primary-200: #f7c9d4;
$color__primary-300: #f0a0b4;
$color__primary-400: #ea7794;
$color__primary-500: #e34d73;
$color__primary-600: #d4214e;
$color__primary-700: #9f193a;
$color__primary-800: #6a1127;
$color__primary-900: #360814;

/* Secondaries */
$color__secondary-100: #f6fbf0;
$color__secondary-200: #e1f1c9;
$color__secondary-300: #cce7a2;
$color__secondary-400: #b6dd7b;
$color__secondary-500: #a1d356;
$color__secondary-600: #81b72f;
$color__secondary-700: #5d8422;
$color__secondary-800: #385015;
$color__secondary-900: #141c07;

/* Informations */
$color__info-100: #f1f8fd;
$color__info-200: #c3e1f8;
$color__info-300: #94c9f2;
$color__info-400: #66b2ec;
$color__info-500: #379ae6;
$color__info-600: #197dca;
$color__info-700: #125d95;
$color__info-800: #0c3c61;
$color__info-900: #061c2d;

/* Warnings */
$color__warning-100: #fef9ee;
$color__warning-200: #fae7c0;
$color__warning-300: #f6d491;
$color__warning-400: #f2c263;
$color__warning-500: #efb034;
$color__warning-600: #d29211;
$color__warning-700: #98690c;
$color__warning-800: #5d4108;
$color__warning-900: #221803;

/* Dangers */
$color__danger-100: #fdf2f2;
$color__danger-200: #f5c4c6;
$color__danger-300: #ed9699;
$color__danger-400: #e5696d;
$color__danger-500: #de3b40;
$color__danger-600: #c12126;
$color__danger-700: #93191d;
$color__danger-800: #641114;
$color__danger-900: #36090b;

/* Success */
$color__success-100: #eefdf3;
$color__success-200: #b8f5cd;
$color__success-300: #82eea6;
$color__success-400: #4ce77f;
$color__success-500: #1dd75b;
$color__success-600: #17a948;
$color__success-700: #117b34;
$color__success-800: #0a4d20;
$color__success-900: #041e0d;

/* Yellow Variations */
$color__extracolor1-100: #fff9ea;
$color__extracolor1-200: #ffedbf;
$color__extracolor1-300: #fee094;
$color__extracolor1-400: #fed469;
$color__extracolor1-500: #fec63c;
$color__extracolor1-600: #f5b001;
$color__extracolor1-700: #ae7d01;
$color__extracolor1-800: #684b01;
$color__extracolor1-900: #221900;

/* Red Variations */
$color__extracolor2-100: #fff0f2;
$color__extracolor2-200: #ffd4da;
$color__extracolor2-300: #ffb8c2;
$color__extracolor2-400: #ff9caa;
$color__extracolor2-500: #ff8294;
$color__extracolor2-600: #ff2f4e;
$color__extracolor2-700: #dd0021;
$color__extracolor2-800: #8d0015;
$color__extracolor2-900: #3c0009;

/* Purple Variations */
$color__extracolor3-100: #f8f0ff;
$color__extracolor3-200: #eddaff;
$color__extracolor3-300: #e3c4ff;
$color__extracolor3-400: #d8afff;
$color__extracolor3-500: #cd97ff;
$color__extracolor3-600: #a646ff;
$color__extracolor3-700: #7d00f2;
$color__extracolor3-800: #52009f;
$color__extracolor3-900: #27004c;
