$font__carbona: "Carbona";

@font-face {
  font-family: "Carbona";
  src: url("/fonts/Carbona-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Carbona";
  src: url("/fonts/Carbona-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Carbona";
  src: url("/fonts/Carbona-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Carbona";
  src: url("/fonts/Carbona-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Carbona";
  src: url("/fonts/Carbona-Black.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
}

/* Slanted (ou italic) */
@font-face {
  font-family: "Carbona";
  src: url("/fonts/Carbona-LightSlanted.woff2") format("woff2");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "Carbona";
  src: url("/fonts/Carbona-RegularSlanted.woff2") format("woff2");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "Carbona";
  src: url("/fonts/Carbona-MediumSlanted.woff2") format("woff2");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: "Carbona";
  src: url("/fonts/Carbona-BoldSlanted.woff2") format("woff2");
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: "Carbona";
  src: url("/fonts/Carbona-BlackSlanted.woff2") format("woff2");
  font-weight: 900;
  font-style: italic;
}