/* Disponibiliza os estilos para reutilização. */
@forward './colors';
@forward './fonts';
@forward './tokens';

/* Utiliza os arquivos localmente. */
@use './colors' as *;
@use './fonts' as *;
@use './tokens' as *;

/* Estilos globais. */
:root {
    :focus {
        outline: 0;
    }

    html {
        scroll-behavior: smooth;
    }

    body {
        background-color: $color__white;
        color: $color__gray-900;
    }

    body,
    input,
    textarea,
    button {
        font-family: $font__carbona;
        font-style: normal;
        font-weight: 400;
        font-size: 1rem;
        line-height: 1.5rem;

        font-synthesis: none;
        text-rendering: optimizeLegibility;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }

    button {
        font-weight: 700;

        @media screen and (min-width: $breakpoint__tablet) {
            width: 100%;
        }

        @media screen and (min-width: $breakpoint__smallDesktop) {
            width: 50%;
            font-size: 1.25rem;
        }

        @media screen and (min-width: $breakpoint__desktop) {
            padding: 1.5rem 1.5rem;
            font-size: 1.5rem;
        }
    }

    a {
        text-decoration: none;
    }
}