/* Disponibiliza os estilos para reutilização. */
@forward './colors';
@forward './fonts';
@forward './tokens';

/* Utiliza os arquivos localmente. */
@use './colors' as *;
@use './fonts' as *;
@use './tokens' as *;

/* Estilos globais. */
:root {
    :focus {
        outline: 0;
    }

    body {
        background-color: $color__gray-100;
        color: $color__gray-900;
    }

    body,
    input,
    textarea,
    button {
        font-family: $font__carbona;
        font-style: normal;
        font-weight: 400;
        font-size: 1rem;
        line-height: 1.5rem;

        font-synthesis: none;
        text-rendering: optimizeLegibility;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }

    a {
        text-decoration: none;
    }
}