/* Disponibiliza os estilos para reutilização. */
@forward './colors';
@forward './fonts';
@forward './tokens';

/* Utiliza os arquivos localmente. */
@use './colors' as *;
@use './fonts' as *;
@use './tokens' as *;


/* Estilos globais. */
:root {
    html {
        scroll-behavior: smooth;
    }

    body {
        background-color: $color__white;
        color: $color__gray-900;
    }

    body,
    input,
    textarea,
    button {
        font-family: $font__carbona;
        font-style: normal;

        font-synthesis: none;
        text-rendering: optimizeLegibility;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }

    body,
    input,
    textarea {
        font-size: 1rem;
        line-height: 1.5rem;

        &:focus {
            outline: 0;
        }
    }

    a {
        text-decoration: none;
    }
}