/* Design Tokens | Breakpoints */

/* Breakpoints */
$breakpoint__extraCellPhone: 320px;
$breakpoint__cellPhone: 425px;
$breakpoint__tablet: 768px;
$breakpoint__smallDesktop: 1024px;
$breakpoint__desktop: 1440px;
$breakpoint__largeDesktop: 2560px;

/* Max-Width */
$maxWidth__desktop: 1248px;
$maxWidth__largeDesktop: 1920px;