@use "../../styles/base/fonts";
@use "../../styles/base/colors";
@use "../../styles/base/global";

.button__submit {
    height: 3.25rem;
    padding: 0.75rem 2rem;
    border-radius: 0.25rem;
    background-color: colors.$color__secondary-500;
    color: colors.$color__white;
    border: none;

    font-size: 1.25rem;
    font-weight: 700;

    &:hover {
        background-color: colors.$color__secondary-600;
    }

    @media screen and (min-width: 425px) {
        width: 12rem;
    }
}