@use '@/styles/main' as *;

.genericField__data {
    @include flexbox($flexDirection: column,
        $gap: 0.25rem,
        $alignItems: flex-start,
    );
    width: 100%;
}

.genericField__label {
    width: 100%;

    @include font-variable($size: 1.125rem, $weight: 700);
    text-align: left;

    @media screen and (min-width: $breakpoint__smallDesktop) {
        @include font-variable($size: 1.5rem, $weight: 700, $lineHeight: 2rem);
    }

    @media screen and (min-width: $breakpoint__desktop) {
        @include font-variable($size: 1.75rem, $weight: 700, $lineHeight: 2.5rem);
    }
}

.genericField__text {
    width: 100%;
    padding: 0.75rem 1.25rem;

    @include font-variable($size: 1.125rem, $weight: 600, $lineHeight: 1.75rem);
    text-align: left;

    border-radius: 0.5rem;
    border: 2px solid $color__gray-300;

    &::placeholder {
        @include font-variable($size: 1.125rem);

        background-color: $color__white;
        color: $color__gray-300;
    }

    &:user-valid {
        border: 2px solid $color__success-500;
    }

    &:user-invalid {
        border: 2px solid $color__danger-300;
    }
}